@import url(./fonts.css);

html, body{
    background-color: #121212;
    width: 100%;
    height: 100%;
}

.registerBlock{
    width: 400px;
    height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.bat{
    display: flex;
    justify-content: center;
}

.spotiImg{
    width: 40px;

}

.Svg-sc-6c3c1v-0 {
    fill: #fff;
}


.textReg{
    margin-top: 25px;
}
.textReg p{
    font-family: Circular2;
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    line-height: 50px;
}

.regInps{
    margin-top: 30px;
}

.regInps p{
    color: white;
    font-family: Circular;
    font-size: 15px;

}

#emailRegInp{
    background-color: #121212;
    width: 300px;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#regNext{
    width: 300px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 30px;
    margin-top: 25px;
    color: black;
    font-family: Circular;
    padding: 10px;
    border: 0px;
}

#regNext2{
    display: none;
    width: 300px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 30px;
    margin-top: 25px;
    color: black;
    font-family: Circular;
    padding: 10px;
    border: 0px;
}

#regNext3{
    display: none;
    width: 300px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 30px;
    margin-top: 25px;
    color: black;
    font-family: Circular;
    padding: 10px;
    border: 0px;
}

.forHr{
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.forHr hr{
    text-indent: 5px;
    width: 125px;
    color: white;
}

.logCase{
    width: 300px;
    height: 50px;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular;
    color: white;
    position: relative;
}

.logCase:hover{
    cursor: pointer;
    border-color: white;
}

.caseLogo{
    position: absolute;
    left: 20px;
}

#swapToLog{
    color: white;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    margin-left: 3px;
}

.alreadyAcc{
    color: lightgray;
}

.backToLog{
    margin-top: 15px;
}

.logFooter{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footerP{
    font-size: 13px;
    color: lightgray;
    margin-top: 15px;
}

.footerSpan{
    text-decoration: underline;
    cursor: pointer;
}

.noAcc, .footerP {
    text-align: center;
}

.footerP{
    padding: 15px;
}

.footerBlock{
    margin-top: 50px;
}

.registerPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regInps{
    position: relative;
}

#forError{
    display: none;
    font-size: 12px;
    color: red;
    letter-spacing: 0.1px;
    font-family: Circular;
}
#forError2{
    display: none;
    font-size: 15px;
    color: red;
    letter-spacing: 0.1px;
    font-family: Circular;
}
#forError3{
    display: none;
    font-size: 15px;
    color: red;
    letter-spacing: 0.1px;
    font-family: Circular;
}

#forError4{
    display: none;
    font-size: 13px;
    color: red;
    letter-spacing: 0.1px;
    font-family: Circular;
    margin-top: 10px;
}
#forError5{
    display: none;
    font-size: 15px;
    color: red;
    letter-spacing: 0.1px;
    font-family: Circular;
}

.alertImg{
    width: 20px;
    float: left;
    clear: both;
    margin-right: 5px;
}

.passCreate{
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.passCreate{
    height: 400px;
}

.steps{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: -45px;
}

.forSq{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forText{
    margin-top: 20px;
    margin-left: 20px;
}

.oneStep{
    color: gray;
    font-size: 17px;
    font-family: Circular;
    letter-spacing: 0.1px;
}

.createPass{
    color: white;
}

.semiSquare{
    width: 15px;
    height: 15px;
    border: 3px;
    border-top: 0px;
    border-right: 0px;
    border-style: solid;
    border-radius: 1px;
    border-color: lightgray;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
}

.semiSquare:hover{
    border-color: white;
}
.semiSquare2{
    width: 15px;
    height: 15px;
    border: 3px;
    border-top: 0px;
    border-right: 0px;
    border-style: solid;
    border-radius: 1px;
    border-color: lightgray;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
}

.semiSquare2:hover{
    border-color: white;
}
.semiSquare3{
    width: 15px;
    height: 15px;
    border: 3px;
    border-top: 0px;
    border-right: 0px;
    border-style: solid;
    border-radius: 1px;
    border-color: lightgray;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
}

.semiSquare3:hover{
    border-color: white;
}

#passRegInp{
    background-color: #121212;
    width: 300px;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inps{
    margin-top: 30px;
}

.passList{
    color: white;
    font-family: Circular;
    margin-top: 20px;
}

.passList p{
    position: relative;
}

.rndI{
    border: 1px solid lightgray;
    width: 13px;
    height: 13px;
    padding: 1px;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    font-size: 7px;
    display: flex;
    justify-content: center;
}

.passListI{
    margin-left: 25px;
    font-size: 14px;
}

.reg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forS{
    width: 100%;
    margin-top: 40px;
}

.lines{
    display: none;
    position: relative;
    top: 25px;
    width: 100%;
    height: 2px;
    justify-content: center;
}

.line{
    position: absolute;
    width: 420px;
    height: 1px;
    border: 1px solid lightgray;
    /* top: 30px; */
}

.line2{
    display: block;
    /* top: 30px; */
    left: -22px;
    position: absolute;
    height: 1px;
    border: 1px solid #1ed760;
    transition: all 0.1s linear;
}

.about{
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.aboutP{
    color: lightgray;
}

.aboutP2{
    position: relative;
    color: lightgray;
    top: -15px;
}

.aboutP span{
    text-decoration: underline;
    cursor: pointer;
}

#userNameReg{
    background-color: #121212;
    width: 100%;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inps2{
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}

#day{
    background-color: #121212;
    width: 20%;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.1s linear;
}

#year{
    background-color: #121212;
    width: 30%;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.1s linear;
}
#selector{
    background-color: #121212;
    width: 50%;
    border-color: gray;
    margin-top: 2px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.1s linear;
    margin-left: 10px;
    margin-right: 10px;
}

#day:hover, #selector:hover, #year:hover{
    border-color: white;
}

option:checked {
    background-color: #dcdcdc;
}

.steps2{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: -85px;
}

.upInp{
    margin-top: 30px;
}

.midInp{
    margin-top: 30px;
}

.gender{
    margin-top: 30px;
}

.forma{
    display: flex;
    justify-content: space-evenly;
}

.radio {
    margin-bottom: 10px;
    display: flex;
    color: white;
}

.radio label {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

input[type="radio"]:disabled + label {
    color: #ccc;
}

.forB{
    width: 100%;
    display: flex;
    justify-content: center;
}

.final{
    display: none;
}
.checks{
    display: flex;
    border: 1px solid #121212;
    border-radius: 5px;
    background-color: rgba(182, 177, 177, 0.08);
    padding: 15px;
    width: 100%;
}

.checks p {
    color: lightgray;
    margin-left: 15px;
}

#singUpBtn{
    width: 300px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 30px;
    margin-top: 25px;
    color: black;
    font-family: Circular;
    padding: 10px;
    border: 0px;
}

.underCheck{
    width: 100%;
    display: flex;
    justify-content: center;
}

.blocks{
    margin-top: 20px;
}

.checks{
    margin-top: 10px;
}

.displayNone{
    display: none;
}

.displayFlex{
    display: flex;
}

.displayBlock{
    display: block;
}